/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 14px;
}

.container {
	width: 100%;
}

.logo {
	margin-top: 30px;
	margin-bottom: 40px;
}

.side-bar {
	width: 300px;
	/* background-color: yellow; */
	padding-left: 25px;
	border-right: 1px solid #959392;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	margin-bottom: 32px;
	font-size: 16px;
}

/* right side start */
.right-side {
	/* background-color: gray; */
	display: flex;
	align-items: stretch;
	justify-content: center;
	margin-left: 300px;
	padding-left: 100px;
	padding-right: 100px;
}

/* feeds section start */
.feeds-section {
	width: 560px;
	/* background-color: purple; */
}

.carousel-container {
	width: 100%;
	display: flex;
	border: 1px solid #959392;
	border-radius: 12px;
	margin-top: 30px;
	padding: 10px 5px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}

.carousel-image,
.feeds-small-image {
	border: 2px solid #959392;
	border-radius: 50%;
}

.carousel-image-name {
	font-size: 12px;
	text-align: center;
}

.feeds-show-1 {
	border: 1px solid #959392;
	border-radius: 12px;
	margin-bottom: 10px;
}

.feeds-banner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.feeds-banner-left-side {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.w-6 {
	width: 30px;
	height: 30px;
	font-weight: bold;
}

.feeds-big-image {
	margin-bottom: 0px;
	width: 100%;
}

.likes-and-comments-container {
	padding: 10px;
}

.likes-and-comments-icons-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.likes-and-comments-section-left-side i {
	margin-right: 10px;
}

.feeds-section-text {
	margin-bottom: 10px;
}

.hours-ago {
	text-transform: uppercase;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.feeds-buttom-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #959392;
	padding: 15px;
}

.smiley-add-comment {
	display: flex;
	align-items: center;
	gap: 10px;
}

i {
	font-size: 22px;
}

.boldened-text {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	/* line-height: 1.5; */
}

.ashed-texts {
	color: #959392;
}

.comments-links {
	text-decoration: none;
}

.post {
	color: #73dad4;
}
/* feeds section end */

/* profile section start */
.profile-section {
	width: 50%;
	/* background-color: green; */
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 10px;
}

.my-profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.my-profile p {
	text-align: left;
}

.suggestions-for-you,
.suggestion {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.suggestion-left-side {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

/* footer part start */
ul {
	list-style-type: none;
}

ul li a,
a {
	text-decoration: none;
	color: #b3b2b1;
}
.footer-links {
	display: flex;
	gap: 10px;
	margin-bottom: 5px;
}

.copyright {
	margin-top: 30px;
	color: #b3b2b1;
	text-transform: uppercase;
}

/* footer part end */

/* profile section end */
